.modal-dialog.modal-dialog-centered.modal-xl 
    .modal-content
        form(action="/fornecedor/register", method="post")
            .modal-header
                h3 Cadastro Fornecedor
                button(type='button', class='close', data-dismiss='modal') &times;
                include ../messages/messages.pug 
            .modal-body
                .container-fluid
                    .row   
                        .form-group.col-sm-2.my-0
                            label.col-form-label ID
                            input(type='text', class='form-control', name='ID', readonly)
                        .form-group.col-sm-10.my-0
                            label.col-form-label Empresa
                            input(type='text', class='form-control',  name='empresa')
                    .row    
                        .form-group.col-sm-12.my-0
                            label.col-form-label Endereço  
                            input(type='text', class='form-control', name='endereco')
                    .row    
                        .form-group.col-sm-4.my-0
                            label.col-form-label Cidade 
                            input(type='text', class='form-control', name='cidade')
                        .form-group.col-sm-4.my-0
                            label.col-form-label Estado  
                            input(type='text', class='form-control', name='uf')
                    .row
                        .form-group.col-sm-4.my-0
                            label.col-form-label CNPJ
                            input(type='text', class='form-control', name='cnpj')
                    .row
                        .form-group.col-sm-6.px-6.my-0
                            label.col-form-label Telefone  
                            input(type='text', class='form-control', name='telefone')
                        .form-group.col-sm-6.px-6.my-0
                            label.col-form-label Email 
                            input(type='text', class='form-control', name='email')
                    
            .modal-footer
                button(type='submit', class='form-control btn btn-success ml-3 mr-sm-1') Salvar  
                button(type='button', class='btn btn-danger mr-3 ml-sm-auto' , data-dismiss='modal') Close