

.modal-dialog.modal-dialog-centered.modal-xl 
    .modal-content
        form(action="/funcionarios/register", method="post",  enctype='multipart/form-data')
            .modal-header
                h3 Cadastro Funcionário
                button(type='button', class='close', data-dismiss='modal') &times;
                include ../messages/messages.pug 
            .modal-body
                .container-fluid
                    .row 
                        .form-group.col-sm-2.my-0
                            img(id='preview-img-funcionarios',style='width: 100px; heigth:100px; ')
                        .form-group.col-sm-2.my-0
                            label.col-form-label ID
                            input(type='text', class='form-control', name='ID', readonly)
                        .form-group.col-sm-8.my-0
                            label.col-form-label Nome
                            input(type='text', class='form-control', name='nome')
                    .row    
                        .form-group.col-sm-12.my-0
                            label.col-form-label Telefone  
                            input(type='text', class='form-control',name='telefone')
                    .row    
                        .form-group.col-sm-4.my-0
                            label.col-form-label Nascimento  
                            div.input-group.input-addon.date(id='datepicker1')
                                input(type='text', class="form-control", readonly, name='nascimento')
                                span.input-group-addon.text-middle
                                    i.fas.fa-calendar.input-group-text.form-control
                        .form-group.col-sm-4.my-0
                            label.col-form-label Cargo 
                            input(type='text', class='form-control',name='cargo')
                        .form-group.col-sm-4.my-0
                            label.col-form-label Imagem 
                            input(type='file', class='form-control', id='file-chooser-funcionarios',  name='photo', accept='image/*')

                        script.
                            $(document).ready(function(){
                                
                                $("#datepicker1").datepicker({
                                    language: 'pt-BR'
                                });

                                $('#file-chooser-funcionarios').on('change', function(event){
                                    RecurFadeIn();
                                    readURL(this);
                                });
                                $('#file-chooser-funcionarios').on('click', function(event){
                                    RecurFadeIn();
                                });
                                function readURL(input){
                                    if(input.files && input.files[0]){
                                        var reader = new FileReader();
                                        var filename = $("#file-chooser-funcionarios").val();
                                        filename = filename.substring(filename.lastIndexOf('\\')+1);
                                        reader.onload = function(e){
                                            debugger;
                                            $('#preview-img-funcionarios').attr('src',e.target.result);
                                            $('#preview-img-funcionarios').hide();
                                            $('#preview-img-funcionarios').fadeIn(500);
                                        }
                                        reader.readAsDataURL(input.files[0]);
                                    }

                                }
                                function RecurFadeIn(){ 
                                    console.log('ran');
                                    FadeInAlert("Wait for it...");  
                                    }
                                    function FadeInAlert(text){
                                    $(".alert").show();
                                    $(".alert").text(text).addClass("loading");  
                                }
                               
                            });
                       
            .modal-footer
                button(type='submit', class='form-control btn btn-success ml-3 mr-sm-1') Salvar  
                button(type='button', class='btn btn-danger mr-3 ml-sm-auto' , data-dismiss='modal') Close
