.modal-dialog.modal-dialog-centered.modal-xl 
    .modal-content
        form(action="/fornecedor/register", method="post")
            .modal-header
                h3 Fornecedor
                button(type='button', class='close', data-dismiss='modal') &times;
                include ../messages/messages.pug 
            .modal-body
                .container-fluid
                    .row   
                        .form-group.col-sm-2.my-0
                            label.col-form-label ID
                            input(type='text', class='form-control', placeholder=''+pagamento.id , name='ID', readonly)
                        .form-group.col-sm-8.my-0
                            label.col-form-label Empresa
                            input(type='text', class='form-control', placeholder=''+pagamento.empresa, name='nome', readonly, id='inputNome')
                        .form-group.col-sm-2.px-6.my-0
                            label.col-form-label Email 
                            input(type='text', class='form-control',placeholder=''+pagamento.email, name='telCel', readonly)
                    
            .modal-footer
                button(type='button', class='btn btn-danger mr-3 ml-sm-auto' , data-dismiss='modal') Close
            
               
