extends template

block title
    title PDV

block content
    
    div.row
        div.card-group
            .card.mx-2.shadow.card-pdv    
                .card-header.bg-success 
                    i.fas.fa-cart-plus 
                    span    Nova Venda
                .card-body
                    .input-group.mb-2
                        .row
                            .col-md-12.col-sm-12.col-xm-12
                                span.h3.col-12(id='label-produto') Produto
                        .row
                            .col-md-6.col-sm-6.col-xm-6
                                
                                img(id='img-venda',style='width: 100px; heigth:100px; ', src="../images/upload_files/SISTEMAOITV-1RECEPTOR.jpg")
                            .col-md-6.col-sm-6.col-xm-6
                                   
                                    label.col-form-label.mx.pr(for='inputCodigo') Código
                                    input.form-control.mx-0(type='text', placeholder='Código', id='inputCodigo')
                        .row        
                            .col-md-12.col-sm-12.col-xm-12
                                .row.mb-1
                                    .col-md-6.col-sm-6.col-xm-6
                                        label.col-form-label(for='inputCodigo') Quantidade
                                        input.form-control(type='text', onkeyup='calculaQuantidade()', value='1,0', id='inputQuantidade')
                                    .col-md-6.col-sm-6.col-xm-6
                                        label.col-form-label(for='inputCodigo') Valor Unitário
                                        .input-group
                                            .input-group-prepend
                                                span.input-group-text R$
                                            input.form-control(type='text', placeholder='0,00', id='inputValorUnit')
                        .row        
                            .col-md-12.col-sm-12.col-xm-12
                                .row.mb-1
                                    .col-md-6.col-sm-6.col-xm-6
                                        label.col-form-label(for='inputCodigo') Desconto
                                        .input-group
                                            .input-group-prepend
                                                span.input-group-text R$
                                            input.form-control(type='text', onkeyup='calculaDesconto()', value='0,00', id='inputDesconto')
                                    .col-md-6.col-sm-6.col-xm-6
                                        label.col-form-label(for='inputCodigo') Valor Total
                                        .input-group
                                            .input-group-prepend
                                                span.input-group-text R$    
                                            input.form-control.bg-dark.text-white(type='text',  placeholder='0,00',id='inputValorTotal')
                .card-footer.p-0
                        button.btn.btn-success.btn-lg.btn-block.rounded-0(id='buttonAdicionar') Adicionar produto
            .card.mx-0.shadow.card-pdv    
                .card-header.bg-warning  
                    i.fas.fa-cart-plus 
                    span    Produtos
                .card-body
                    .input-group.mb-2
                        input.form-control.mx-0(type='text', placeholder="Código", onkeyup='buscaProdutosCodigo(1)',id='inputBuscarProdutosCodigo' )
                    .input-group.mb-4
                        input.form-control.mx-0(type='text', placeholder="Produto", onkeyup='buscaProdutos(1)',id='inputBuscarProdutos' )
                    .container-fluid(id='listaProdutos')
                        .row.align-middle
                            case produtos
                                when 0
                                    p.text-center Não achamos ninguém
                                default
                                    each produtos in tabela
                                        .btn.card.col-4.text-center.btn-outline-dark.cardProduto.m-0.p-0(name='cardProduto', id=produtos.id , data-detalhes='{"id":"'+produtos.id+'", "nome":"'+produtos.nome+'", "preco":"'+produtos.preco+'", "imagem":"'+produtos.imagem+'" }' )
                                            .card-body.p-1
                                                img.brand-card-img-top(src="../images/upload_files/"+produtos.imagem,style='width: 70px; heigth:70px;')
                                            .card-footer.p-1
                                                a.h6 #{produtos.nome}
                                            
                                                
                
                .card-footer.p-0.m-0    
                    nav.m-0
                        ul.pagination.justify-content-center(id='paginacao').m-0
                
                

            .card.mx-2.shadow.card-pdv
                form(action="/pdv/venda", method="post", id="frm")   
                    .card-header.bg-danger  
                        i.fas.fa-cart-plus 
                        span    Nota       
                    .card-body.p-0
                        //.input-group.mb-2   
                            input.form-control(type='text', placeholder="Cliente", aria-describedby='button-addon1' )
                            div.input-group-append(id='button-addon1')
                                button.btn.btn-outline-secondary(type='button')
                                    i.fas.fa-search
                                button.btn.btn-outline-secondary(type='button')
                                    i.fas.fa-plus
                        .row.align-text-left.m-0
                            .col-2
                                .row.bg-secondary.text-white.pl-2
                                    span ID:
                                .row.pl-2    
                                    span(id="idClienteVenda", name="idClienteVenda") 
                            .col-8
                                .row.bg-secondary.text-white
                                    span CLIENTE:
                                .row    
                                    span(id="nomeClienteVenda", name="nomeClienteVenda") 
                            .col-2.p-0.m-0
                                button.btn.border.border-dark.btn-secondary.btn-block.btn-lg.rounded-0(type='button',data-toggle='modal', data-target='#modalProcuraCliente')
                                        i.fas.fa-search  
                            
                            div(class='modal fade', id='modalProcuraCliente', role='dialog')
                                            include ./modals/procuraCliente.pug
                                        
                        .row.m-0
                            .table-responsive.mt-0(style="overflow: auto; height: 26.5rem;")
                                table.display.compact.mt-0(id='tabelaVenda' )
                                    thead.bg-secondary.text-white.mt-0
                                        tr
                                            th(scope="col") ID
                                            th(scope="col") Produto
                                            th(scope="col") Qtd
                                            th(scope="col") Val. Tt.
                                            th(scole="col") 
                                    tbody
                    .card-footer.p-0
                        .row
                            .col-6
                                span.h4 Total: 
                            .col-6.bg-secondary
                                span.h4.text-light R$ 
                                    span(id='valorVenda',name='valorVenda') 0,00
                        .row.p-0
                            .col-12
                                button.btn.btn-danger.btn-block.rounded-0(type="button",id="buttonFinalizar",data-toggle='modal', data-target='#aquieomodal' ) Finalizar Venda
                        .container
                            div(class='modal fade', id="aquieomodal", role='dialog')
                                include ./modals/finalizaVenda.pug
            script. 
                    $(document).ready(function(){

                       
                        
                        
                        
                        var tabelaVenda = $("#tabelaVenda").DataTable({
                            
                            
                           
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                            },
                            "createdRow": function ( row, data, index ) {
                                    $('td', row).eq(3).addClass('valor');
                                    $('td', row).eq(3).addClass('form-control-plaintext');
                                    $('td', row).eq(4).addClass('btn btn-danger rounded-0 m-0 deleteLinha');
                                    $('td', row).eq(4).attr('id', 'buttonDeleteLinha' );
                                    $('td', row).eq(4).append('<i class="fas fa-minus-circle"/>');
                                    
                            },
                            searching: false,
                            paging: false,
                            info: false,
                            ordering: false
                        
                        });

                        $('#fim').click(function(){
                            var data=[];
                            var cliente = $("#nomeClienteVenda").text();
                            var pagamento = $("#selecPagamento").val();
                            var desconto = parseFloat(($("#inputDescontoTotal").val()).replace(',','.'));
                            var total = parseFloat(($("#inputTotalFinal").val()).replace(',','.'));
                            tabelaVenda.rows().every(function(){
                                data.push(this.data());
                            });
                            alert("ola "+data);
                            $.post("/pdv/venda", {produtos:data, client:cliente, pag:pagamento, desc:desconto, valor:total});
                            
                            
                        });
                        $('#tabelaVenda').on('click','tbody tr td.deleteLinha', function(){
                            
                            var a = $(this).parents('tr').children('td.valor');
                            var valor = tabelaVenda.cell(a).data();
                            
                            valor = valor.toString().replace(',','.');
                           
                            valor = parseFloat(valor);
                            
                            var total = $("#valorVenda").text();
                            
                            total = total.replace(',','.');
                            
                            total = parseFloat(total);
                            
                            total = total - valor;
                            
                            $("#valorVenda").html(total.toFixed(2).toString().replace('.',','));                        
                            tabelaVenda.row( $(this).parents('tr') ).remove().draw();
                        });

                        $('#buttonAdicionar').click(function(){
                            var nome, qtd, val, itemTabela, id;
                            id = $("#inputCodigo").val();
                            nome = $("#label-produto").text();
                            qtd = $("#inputQuantidade").val();
                            val = $("#inputValorTotal").val();

                            tabelaVenda.row.add([
                                id,
                                nome,
                                qtd,
                                val,
                                ""
                            ]).draw(false);

                            val = parseFloat(val.replace(',','.')) + parseFloat($("#valorVenda").text().replace(',','.'));
                            $("#valorVenda").html(val.toFixed(2).toString().replace('.',','));

                         })

                        $('.btn.cardProduto').click(function(){
                            var aux = $(this).data("detalhes");
                            
                            
                            $("#img-venda").attr('src',"../images/upload_files/"+aux.imagem);
                            $("#img-venda").hide();
                            $("#img-venda").fadeIn(500);

                            $("#label-produto").html(aux.nome) ;
                            $("#inputCodigo").attr('value',aux.id) ;
                            $("#inputValorUnit").attr('value',aux.preco);
                            $("#inputQuantidade").attr('value',1.0);
                            $("#inputValorTotal").attr('value',aux.preco);

                        });

                       
                        
                        buscaProdutos(1);
                    });

                    

                    function calculaQuantidade(){
                        var desc = parseFloat(($("#inputDesconto").val()).replace(',','.'));
                        var quant = parseFloat(($("#inputQuantidade").val()).replace(',','.'));

                        var unit = $("#inputValorUnit").val();
                        var val = unit*quant - desc;
                        
                        $("#inputValorTotal").attr('value',val.toFixed(2).toString().replace('.',','));
                    }

                    function calculaDesconto(){
                        var desc = parseFloat(($("#inputDesconto").val()).replace(',','.'));
                        var quant = parseFloat(($("#inputQuantidade").val()).replace(',','.'));

                        var unit = $("#inputValorUnit").val();
                        var val = unit*quant - desc;

                        
                        $("#inputValorTotal").attr('value',val.toFixed(2).toString().replace('.',','));
                    }

                    function passaDados(aux){
                            var opa = aux[0].text();
                            alert(opa);
                    }                    

                    function ajustaBotoes(){

                        
                        var i,  listaProdutos,ul, carP, funcao;
                        var navegacao='';
                        var cont;
                        listaProdutos = document.getElementById("listaProdutos");
                        
                        cardP = listaProdutos.getElementsByClassName("card");


                        cont=0;
                            
                        
                        
                        cont = Math.ceil(cardP.length/9);

                        for(i=0; i < cont; i++){
                            //$('#paginacao').append($('<li class="page-item">').append($('<a class="page-link" href="#">').append(i+1)));
                            funcao = "javascript:buscaProdutos("+(i+1)+")";
                            navegacao+='<li class="page-item"><a class="page-link" href=javascript:buscaProdutos('+(i+1)+')>'+(i+1)+'</a></li>';
                        }   
                        $('#paginacao').html(navegacao);
                    }   

                    function buscaProdutos(pagina) {
                        
                        var input, filter, cardP, listaProdutos, a, i , txtValue;
                        
                        input = document.getElementById('inputBuscarProdutos');
                        
                        filter = input.value.toUpperCase();
                        
                        listaProdutos = document.getElementById("listaProdutos");
                        
                        cardP = listaProdutos.getElementsByClassName("card");
                        
                        var aux = ((pagina-1)*9)-1;

                       
                        for(i=0;i<cardP.length;i++){
                                    
                            cardP[i].style.display = "none";
                                    
                        }
                        i=0;
                        while( i < cardP.length ){
                            

                            if(i > aux){
                                if( i < ( pagina * 9 ) ){
                                    a = cardP[i].getElementsByTagName("a")[0];
                                    txtValue = a.textContent || a.innerText;
                                    
                                    if(txtValue.toUpperCase().indexOf(filter) > -1){
                                        cardP[i].style.display = "";
                                    } else {
                                        cardP[i].style.display = "none";
                                    }
                                }
                            }

                            

                            i++;
                        }


                        

                        ajustaBotoes();
                    }

                    function buscaProdutosCodigo(pagina) {
                        
                        var input, filter, cardP, listaProdutos, a, i , txtValue;
                        
                        input = document.getElementById('inputBuscarProdutosCodigo');
                        
                        filter = input.value;
                        
                        

                        listaProdutos = document.getElementById("listaProdutos");
                        
                        cardP = listaProdutos.getElementsByClassName("card");
                        
                        var aux = ((pagina-1)*9)-1;

                       
                        for(i=0;i<cardP.length;i++){
                                    
                            cardP[i].style.display = "none";
                                    
                        }
                        i=0;
                        while( i < cardP.length ){
                            

                            if(i > aux){
                                if( i < ( pagina * 9 ) ){
                                    
                                    a = cardP[i].id;
                                    
                                    if(filter == ""){
                                        cardP[i].style.display = "";    
                                    }else if(a == filter){
                                        cardP[i].style.display = "";
                                    } else {
                                        cardP[i].style.display = "none";
                                    }
                                }
                            }

                            

                            i++;
                        }


                        

                        ajustaBotoes();
                    }                
                    
                        